/* src/ToDoList.css */
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.todo-list-container {
    flex-direction: column;
    align-items: center;

}

.todo-list-box {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: white;
}

.todo-list-box-border-wrap {
    border-radius: 30px;
    max-width: 600px;
    min-width: 400px;
    background: linear-gradient(to top right, maroon, purple);
    padding: 3px;
}

.todo-list-box:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Style for the task items */
.task-item {
    border: 1px solid #ED40F3; /* Set border styles */
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Updated to column layout for better text wrapping */
    align-items: flex-start; /* Align text to the start */
    max-width: 100%; /* Set max-width to prevent overflowing */
    transition: .5s;
}

.task-item:hover{
    background-color: #ffb6c1;
}

.task-text {
    margin-bottom: 5px; /* Add some space between text and description */
    word-wrap: break-word;
}

.task-description {
    color: white; /* Adjust the color for better visibility */
    word-wrap: break-word;
    position: relative;
}

.delete-icon {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    padding: 2;
    transition: .5s;
}

.delete-icon:hover {
    color: purple;
}

.todo-list-add {
    margin-top: 40px;
    display: flex;
    flex-direction: column; /* Adjust to a column layout for better alignment */
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





